<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>

<h1>Admin Dashboard</h1>
<br>

<button hx-get="/getFlexible"
        hx-target="#flexibleResponse"
        hx-swap="innerHTML">
    Get Flexible MQ
</button>
<div id="flexibleResponse"></div>
<br>

<button hx-get="/getFisher"
        hx-target="#fisherResponse"
        hx-swap="innerHTML">
    Get Fisher
</button>
<div id="fisherResponse"></div>
<br>

<button hx-get="/getAccount"
        hx-target="#accountResponse"
        hx-swap="innerHTML">
    Get Account
</button>
<div id="accountResponse"></div>
<br>

<button hx-get="/getMarket"
        hx-target="#marketResponse"
        hx-swap="innerHTML">
    Get Market
</button>
<div id="marketResponse"></div>
<br>

<button hx-get="/getMetrics"
        hx-target="#metricResponse"
        hx-swap="innerHTML">
    Get Metrics
</button>
<div id="metricResponse"></div>
<br>

<button hx-get="/getShop"
        hx-target="#shopResponse"
        hx-swap="innerHTML">
    Get Shop
</button>
<div id="shopResponse"></div>
<br>

<button hx-get="/getTrading"
        hx-target="#tradingResponse"
        hx-swap="innerHTML">
    Get Trading
</button>
<div id="tradingResponse"></div>
<br>


<button hx-get="/getUserTesting"
        hx-target="#userTestingResponse"
        hx-swap="innerHTML">
    Get User testing
</button>
<div id="userTestingResponse"></div>
<br>

</body>
</html>
